:root {
  --size-sm: clamp(0.6rem, 0.8rem + 0.25vw, 1rem);
  --size-md: clamp(1.25rem, 1.1rem + 0.5vw, 1.5rem);
  --size-lg: clamp(1.5rem, 1.2rem + 1vw, 2rem);
  --border: 3px double blue;
}

@font-face {
  font-family: 'Computer Modern';
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}

@font-face {
  font-family: 'Computer Modern';
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Computer Modern';
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
  font-style: italic, oblique;
}

@font-face {
  font-family: 'Computer Modern';
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
  font-weight: bold;
  font-style: italic, oblique;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: var(--size-sm);
  font-family: 'Computer Modern', sans-serif;
}

#name {
  font-size: var(--size-md);
  margin-top: 0;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: var(--border); */
}

.pages-container {
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

a {
  text-underline-offset: 3px;
  color: blue;
  text-decoration: none;
}

a:hover {
  color: crimson;
  text-decoration: underline;
}

li {
  margin-bottom: 3px;
  list-style: circle;
}

li:hover {
  list-style: disc;
}

img {
  max-width: 350px;
  margin-left: 0;
}

ul {
  padding-inline-start: 20px;
  /* list-style: none; */
}

.project-container {
  margin: 0;
}
