:root {
  --size-sm: clamp(1rem, 0.925rem + 0.25vw, 1.125rem);
  --size-md: clamp(1.125rem, 1.1rem + 0.5vw, 1.25rem);
  --size-lg: clamp(1rem, 1.2rem + 1vw, 2rem);
  --size-xl: clamp(2rem, 1.4rem + 2vw, 3rem);
  --size-xxl: clamp(2.5rem, 0.925rem + 5.25vw, 5.125rem);
  --site-gutter: clamp(16px, -76.4px + 19.25vw, 170px);
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-weight: 1000;
  --font-weight-two: 400;
}

html {
  font-size: 16px;
}

body {
  font-size: var(--size-md);
  background-color: white;
}

ul {
  list-style-type: none;
  
}

a {
  
  text-underline-offset: 120px;
  text-decoration-thickness: 20px; 
}

a:hover {
  color: red;
}


