:root {
  --size-sm: clamp(1rem, 0.925rem + 0.25vw, 1.125rem);
  --size-md: clamp(1.125rem, 1.1rem + 0.5vw, 1.25rem);
  --size-lg: clamp(1.5rem, 1.2rem + 1vw, 2rem);
  --size-xl: clamp(2rem, 1.4rem + 2vw, 3rem);
  --size-xxl: clamp(2.5rem, 0.925rem + 5.25vw, 5.125rem);
  --space-sm: 1.25rem;
  --space-md: 1.5rem;
  --space-lg: 3rem;
  --space-sm-md: clamp(1.25rem, 1.1rem + 0.5vw, 1.5rem);
  --space-md-lg: clamp(1.5rem, 0.6rem + 3vw, 3rem);
  --space-lg-xl: clamp(3rem, 1.8rem + 4vw, 5rem);
  --site-gutter: clamp(16px, -76.4px + 19.25vw, 170px);
  --site-offset: 0px;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: var(--size-md);
  -webkit-font-smoothing: antialiased;
  background-color: mintcream;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
}

a {
  color: black;
  text-decoration: none;
  transition: color 0.1s ease-in-out;
}

a:hover {
  color: dodgerblue;
}

.contact {
  background-color: #63f8bfeb;
  width: fit-content;
  /* padding: 0.5rem 1rem 0.5rem 1rem; */
padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.projects {
  background-color:rgba(255, 255, 240, 0.447);


  /* background-color: rgba(255, 245, 238, 0.752); */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1rem;

  padding: 1rem;
}

#emoji-1 {
  margin-top: 3rem;
}

#emoji-1,
#emoji-2,
#emoji-3 {
  margin-bottom: 1rem;
  background-color: rgb(233, 232, 232);
  width: min-content;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Desktop */
/* Greater than or equal to 1000px */
@media (width >= 1000px) {
  /* Container */

  .container {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'info projects projects' 'footer . .';
  }

  .header-container {
    grid-area: header;
    min-height: 100px;
  }

  .left-container {
    grid-area: info;
    font-weight: 600;
  }

  .right-container {
    grid-area: projects;
    font-weight: 100;
  }

  .exhibtions {
    margin-top: 3rem;
  }

  .footer {
    grid-area: footer;
    min-height: 100px;
  }

  /* information */

  .education {
    margin-top: 1rem;
    font-weight: 300;
  }
}

/* Ipad */
/* Between 700px and 1000px */
@media (700px <= width <= 1000px) {
  /* Container */

  .container {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'info projects' 'footer .';
  }

  .header-container {
    grid-area: header;
    min-height: 100px;
  }

  .left-container {
    grid-area: info;
    font-weight: 600;
  }

  .right-container {
    grid-area: projects;
    font-weight: 100;
  }

  .exhibtions {
    margin-top: 3rem;
  }

  .footer {
    grid-area: footer;
    min-height: 100px;
  }

  /* information */

  .education {
    margin-top: 1rem;
    font-weight: 300;
  }
}

/* Iphone */
/* Less than or equal to 700px */
@media (width <= 700px) {
  /* Container */

  .container {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'header' 'info' 'projects' 'footer';
  }

  .header-container {
    grid-area: header;
    min-height: 100px;
  }

  .left-container {
    grid-area: info;
    font-weight: 600;
  }

  .right-container {
    grid-area: projects;
    font-weight: 100;
    margin-top: 3rem;
  }

  .exhibtions {
    margin-top: 3rem;
  }

  .footer {
    grid-area: footer;
    min-height: 100px;
  }

  /* information */

  .education {
    margin-top: 1rem;
    font-weight: 300;
  }
}
